
<?php /* @var $block Magento\Framework\View\Element\Template*/  ?>
<br/>
<div >
    <div id="simplepath_unsported">
        <?= $block->escapeHtml(__('All payment and informational LiqPay API')); ?>
        <span class="note">
            <a href="https://www.liqpay.ua/en/documentation" target="_blank">
            (<?= $block->escapeHtml(__('More Information')); ?>)
            </a>
        </span>
    </div>
</div>
