<?php /* @var $block Magento\Framework\View\Element\Template */  ?>
<br/>
<div >
    <div id="virtual_terminal_link">
        <?= $block->escapeHtml(__('For send request go to')); ?>
        <span class="note">
            <a target="_blank" href=<?= $block->getUrl('elogic_credit_card/virtual/index/') ?>>
                <?= $block->escapeHtml(__('terminal.')); ?>
            </a>
        </span>
    </div>
</div>
